body, html {height: 100%; width:100%; margin:0; padding:0;}

body {
  font-size: 100%;
}


.topnav a {
  float: left;
  margin: 8px;
  background: rgba(255,255,255, 0.1);
  border-radius: 5px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
}

.topnav a:hover:not(.active) {
  border: 1px;
  border-color: rgba(237, 253, 255,0.4);
  border-style: groove;
  border-radius: 2.5px;
  background-color: rgba(237, 253, 255, 0.4);

}
.topnav a.active {
  border: 1px;
  border-color: rgba(237, 253, 255, 0.4);
  border-style: inset;
  border-radius: 5px;
  background-color: rgba(237, 253, 255, 0.3);
}

.bgimg {

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/wood-wall.jpeg");
  min-height: 80%;
  background-attachment: fixed;
}

#home{
  min-height: 35%;
}

.paddy {
  padding-bottom: 16px;
}
.title-color{
  color: #676767;
}


#bodi {
  margin-bottom: 400px;
}

#contact {
  position: relative;
  background-image: url("../img/pen-paper-white.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  /*color: white;*/
}

#contact ul {
  list-style-type: none;
}

#qmimg {
  width:100%;
}

#extra-info {

  font-size: 2.5em;
  font-family: 'Marck Script', cursive;
  max-height: 80%

}


.pic-slides img {
  max-width:100%;
  max-height:100%;
}
